<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        Job created <a href="https://andrei-sandbox2.pipedrive.com/deal/{{id}}">View Job</a>.
    </body>
</html>